/* page d'acceuil */

body {

width:70%;
margin :auto;
padding : 5px;

background: #b5a793;
background: -moz-linear-gradient(top, #b5a793 0%, #d4cca5 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #b5a793), color-stop(100%, #d4cca5));
background: -webkit-linear-gradient(top, #b5a793 0%, #d4cca5 100%);
background: -o-linear-gradient(top, #b5a793 0%, #d4cca5 100%);
background: -ms-linear-gradient(top, #b5a793 0%, #d4cca5 100%);
background: linear-gradient(to bottom, #b5a793 0%, #d4cca5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5a793', endColorstr='#d4cca5', GradientType=0 );

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 5px solid #383838;

color : black;


}

/* header */



#langue_select{

float : left ;
display : block;




}

#password_section{

float : right ;
display : block;



}

#banniere{

position : relative;
width: 98%;
margin-top : 2%;
margin-bottom : 2%;
box-shadow: 0px 4px 4px #1c1a19;
margin-left: 8px;

}


/*menu*/

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
}
#cssmenu {
  width: auto;
  height: 59px;
  padding-bottom: 4px;
}
#cssmenu.align-right {
  float: right;
}
#cssmenu.align-right ul li {
  float: right;
  margin-right: 0;
  margin-left: 4px;
}
#cssmenu.align-right ul li:first-child,
#cssmenu.align-right ul li:first-child > a {
  border-bottom-right-radius: 3px;
}
#cssmenu #bg-one,
#cssmenu #bg-two,
#cssmenu #bg-three,
#cssmenu #bg-four {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#cssmenu #bg-one {
  height: 10px;
  background: #a3ffb9;
}
#cssmenu #bg-two {
  height: 59px;
  z-index: 2;

}
#cssmenu #bg-three {
  bottom: 4px;
  height: 55px;
  z-index: 3;
background: #dedede;
background: -moz-linear-gradient(top, #dedede 0%, #666566 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #dedede), color-stop(100%, #666566));
background: -webkit-linear-gradient(top, #dedede 0%, #666566 100%);
background: -o-linear-gradient(top, #dedede 0%, #666566 100%);
background: -ms-linear-gradient(top, #dedede 0%, #666566 100%);
background: linear-gradient(to bottom, #dedede 0%, #666566 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#666566', GradientType=0 );
}
#cssmenu #bg-four {
  bottom: 4px;
  height: 55px;
  z-index: 4;

}
#cssmenu ul {
  height: 59px;
}
#cssmenu ul li {
  float: left;
  margin-right: 4px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  z-index: 5;
}
#cssmenu ul li a {
  padding: 24px 30px 20px 30px;
  margin-bottom: 4px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #eeeeee;
  font-size: 15px;
  text-decoration: none;
}
#cssmenu ul li:first-child,
#cssmenu ul li:first-child > a {
  border-bottom-left-radius: 3px;
}
#cssmenu ul li:hover,
#cssmenu ul li.active {
background: #ceff52;
background-image: -moz-linear-gradient(top, #529c5f, #a3ffb9);
background-image: -ms-linear-gradient(top, #529c5f, #a3ffb9);
background-image: -o-linear-gradient(top, #529c5f, #a3ffb9);
background-image: -webkit-linear-gradient(top, #529c5f, #a3ffb9);
background-image: linear-gradient(top, #529c5f, #a3ffb9);
}
#cssmenu ul li a:hover,
#cssmenu ul li.active > a {

  color: #ffffff;
}

/* fin bannière */


/*centre*/

#annonce_section,#categories_section{

display:inline-block;
vertical-align:top;


}

#categories_section{

position : relative;
width : 25%;

padding: 2px;
background-color: #fffcfd;
border: 2px solid #426153;
border-radius: 5px;
box-shadow: 5px 5px 5px 1px #8c8396;
background-image: -moz-linear-gradient(top, #529c5f, #a3ffb9);
background-image: -ms-linear-gradient(top, #529c5f, #a3ffb9);
background-image: -o-linear-gradient(top, #529c5f, #a3ffb9);
background-image: -webkit-linear-gradient(top, #529c5f, #a3ffb9);
background-image: linear-gradient(top, #529c5f, #a3ffb9);
background-clip: border-box;


}


#categories_section ul{


list-style-type : none;


}




/*footer*/

footer{

display:inline-block;
position : relative;
left :25%;




}


