/* page d'acceuil */


html, body{

background: #f2f2f2;
height:100%;
padding:0;
margin:0;

}


#body_main{

width:70%;
margin :auto;
padding : 1%;
margin-top :15%;



}

body a:link:hover{

text-decoration:none;

}

.white_background{

background: #fdfdfd;

-webkit-box-shadow: 0px 0px 5px 4px rgba(176,176,176,1);
-moz-box-shadow: 0px 0px 5px 4px rgba(176,176,176,1);
box-shadow: 0px 0px 5px 4px rgba(176,176,176,1);


color : black;




}


/* header */

header{

position:fixed;
top:0px;
left:0px;
background:#DAE3DF;
z-index:1;
width:100%;
opacity:0.9;


}

header ul{

list-style-type : none;
margin:0%;
text-align:left;



}

header ul li{

display :inline-block;
vertical-align:middle;
list-style-type : none;
padding:0.5%;
margin:0px;


}


header .maj{

text-transform:uppercase;
font-weight:bold;
font-family:Arial;
font-size:90%;

}



header a{

text-decoration:none;
color:black;


}


#header_2 li:hover{

background:#83DEB5;

}

header a:hover{

color:white;

}

#header_1{

background:#9C9B9A;

}

#header_1 ul{

list-style-type : none;
margin:0%;
text-align:right;
margin-right:10%;



}

#header_1 ul li{

display :inline-block;
vertical-align:middle;
list-style-type : none;
padding:0.5%;
margin:0px;



}

#header_1 a{

color:#565657;

}

#header_1 a:hover{

color:#83DEB5;


}


#langue_select{

float : left ;
display : block;
border : 2px solid #8c8396;



}


#logo{

font-family: Brawler ;
color: #38b559;
font-size: 50px;
text-shadow:0px 0px 0 rgb(31,156,64),1px 1px 0 rgb(6,131,39),2px 2px 0 rgb(-19,106,14),3px 3px 0 rgb(-44,81,-11),4px 4px 0 rgb(-69,56,-36), 5px 5px 0 rgb(-94,31,-61),6px 6px 5px rgba(0,0,0,0.6),6px 6px 1px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,.2);

}



#password_box{

position:fixed;
top:0;
left:0;

display :none;
z-index:2;
background:#11110F;
width:100%;
height:100%;
color:#9A9D9F;


}

#password_section{

width:50%;
height:50%;
margin:auto;
margin-top:12.5%;
border:1px solid white;


}

#password_section a{


color:#83DEB5;


}

#password_section .green_input{

width:100%;
border : 0px;
background:#83DEB5;

}

#password_section h3{

margin:0;
margin-top:2%;

}

#password_section .float_right{

float:right;

}

#login_boutton{


height:20%;
background:#D9D9D9;
margin:1%;
margin-right:0;
border : 0px;


}

#password_creation,#password_forgotten{

position:relative;
bottom:0px;
float:right;
border:1px solid white;
margin-top:15%;


}


#slideshow{

position : relative;
width: 900px;
height: 423px;
margin-top : 2%;
margin-bottom : 2%;
box-shadow: 0px 4px 4px #1c1a19;
border: 2px solid black;
margin-left: 20px;
overflow :hidden;

}

#slideshow ul{

width: 400%;
height: 100%;
padding:0; margin:0;
list-style: none;


}

#slideshow li {

display: inline-block;

}



/*menu*/



/* fin bannière */


/*centre*/

#recherche_menu{

display:inline-block;
vertical-align:top;
position:relative;
left:30%;
right:0%;

}

#categories,#region,#recherche_ville,#rechercher,#nbAnnoncePage{

border : 2px solid #8c8396;


}

#nbAnnoncePage{

float: right;

}




#annonce_section,#categories_section{

display:inline-block;
vertical-align:top;


}

#categories_section{

position : relative;
width : 22%;
left: 0%;

padding: 1%;


}


#categories_section ul {

list-style-type : none;

}

#categories_section{

list-style-type : circle;

}

#categories_section a:link{

text-decoration:none;

}

#categories_section a:link:hover{

text-decoration:underline;

}

#categories_section ul{

display:none;

}

#categories_section li:hover ul{

display:block;

}





#annonce_section{

display:inline-block;
margin:1px;
margin-left:5%;



}




/*footer*/

footer{

background:#222222;
color:white;
padding-top:0.5%;
padding-bottom:0.5%;
width:100%;

}

footer ul{

list-style-type:none;
text-align:center;


}

footer ul li{

display:inline-block;
vertical-align:middle;


}

footer a{

color:white;



}

footer a:hover{



}

footer p{

text-align:center;


}



